<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img [src]="logo">
        <!--img src="/assets/logo_superquiz.png"-->
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li *ngFor="let lien of navItems"><a [routerLink]="lien.url">{{lien.text}}</a></li>
          
        <!--li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Quizzes</a>
        </li>
        <li>
          <a href="#">Admin</a>
        </li>
        <li>
          <a href="#">Login</a>
        </li-->
      </ul>
      <p class="navbar-text navbar-right">Identifié comme
        <a href="#" class="navbar-link">{{user.name}}</a>
      </p>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>